.sidebar-area {
  background-color: #fff;
  min-height: 100vh;
  // width: 18rem;
  .sidebar-inner {
    // padding: 30px 25px 20px;
    ul {
      padding: 0 25px;
      li {
        margin-bottom: 27px;
        position: relative;
        font-size: 15px;
        display: block;
        // display: inline-flex;
        // align-items:center;
        // .flex{
        //     align-items:center;
        // }
        .sub-menus {
          ul {
            li {
                padding: 15px 0 0 8px;
                margin-bottom: 0 !important;
                .dot {
                    display: inline-block;
                    width: 8px;        /* Adjust size as needed */
                    height: 8px;       /* Keep width and height equal for a circle */
                    background-color: #80808094;  /* Set your desired color */
                    border-radius: 50%;      /* This makes it a circle */
                    margin-right: 10px;      /* Optional: space between the dot and text */
                  }
                  
                  .menu-text {
                    padding: 0 0;
                  }
                  
              }
            }
          }
        }
      }
    }
 
}
