<section class="sidebar-area">
    <div class="logo bg-white text-3xl px-8 py-4">
        <p>Golds</p>
    </div>
    <hr>
    <div class="ng-scroll-content">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <ul>
                    <li routerLink="/admin/dashboard" class="cursor-pointer">
                        <div class="flex items-center">
                            <span class="mr-1">
                                <img src="./../../../../assets/icons/custom/home.svg" alt="">
                            </span>
                            <span>
                                Dashboard
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">

                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/product.svg" alt="">
                            </span>
                            <span>
                                Products Management
                            </span>
                        </div>
                        <div class="sub-menus">
                            <ul>
                                <li routerLink="/admin/products/add" class="cursor-pointer">
                                    <span class="dot"></span>
                                    <span class="menu-text">Add Product</span>
                                </li>
                                <li routerLink="/admin/products/list" class="cursor-pointer">
                                    <span class="dot"></span>
                                    <span class="menu-text">List Products</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">
                                <img src="./../../../../assets/icons/custom/order.svg" alt="">
                            </span>
                            <span>
                                Orders Management
                            </span>
                        </div>
                        <div class="sub-menus">
                            <ul>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">All Orders</span>
                                </li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">Orders Processing</span>
                                </li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">Returns Refunds</span>
                                </li>
                            </ul>
                        </div>

                    </li>
                  
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/customer.svg" alt="">
                            </span>
                            <span>
                                Customers Management
                            </span>
                        </div>
                        <div class="sub-menus">
                            <ul>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">List Customers</span>
                                </li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">Engagement</span>
                                </li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="menu-text">Account Settings</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/marketing.svg" alt="">
                            </span>
                            <span>
                                Marketing & Promotions
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/payment.svg" alt="">
                            </span>
                            <span>
                                Payments & Transactions
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/analytics.svg" alt="">
                            </span>
                            <span>
                                Reports & Analytics
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/settings.svg" alt="">
                            </span>
                            <span>
                                Settings & Configurations
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/content.svg" alt="">
                            </span>
                            <span>
                                Content Management
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/support.svg" alt="">
                            </span>
                            <span>
                                Support & Feedback
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="flex">
                            <span class="mr-1">

                                <img src="./../../../../assets/icons/custom/customer.svg" alt="">
                            </span>
                            <span>
                                Users & Roles
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>