// _spacing.scss

$spacings: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 48px
);

@each $name, $value in $spacings {
  .m-#{$name} {
    margin: $value !important;
  }
  .p-#{$name} {
    padding: $value !important;
  }
  .mt-#{$name} {
    margin-top: $value !important;
  }
  .mb-#{$name} {
    margin-bottom: $value !important;
  }
  .ml-#{$name} {
    margin-left: $value !important;
  }
  .mr-#{$name} {
    margin-right: $value !important;
  }
}
